* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    /* height: 8vh; */
    width: 100%;
    /* border: 1px solid #000; */
    position: sticky;
    top: 0;
    z-index: 1;
    overscroll-behavior-y: hidden;
    background-color: white;
}

#navbar-inner {
    /* height: 8vh; */
    width: 90%;
    /* border: 1px solid #000; */
    margin: auto;
    display: flex;
    z-index: 2;
    justify-content: space-between;
    background-color: white;
}

#navbar-left-category {
    /* height: 100%; */
    width: 30%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-around;
    z-index: 3;
}

#navbar-left-category>div {
    height: 8vh;
    width: 30%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#luxe {
    color: #D3A84F;
}

#navbar-logo {
    height: 8vh;
    width: 30%;
    /* border: 1px solid #000; */
}

#navbar-logo>img {
    height: 100%;
    width: 100%;
}

#navbar-search-login-area {
    height: 8vh;
    width: 35%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-around;
}

#search-input-area {
    position: relative;
    height: 6vh;
    width: 50%;
    border-bottom: 1px solid #000;
    display: flex;
}

#search-input-area>input {
    height: 100%;
    position: absolute;
    left: 0;
    width: 85%;
    border: none;
    outline: none;

}

#magni-icon {
    height: 100%;
    width: 15%;
    /* border: 1px solid #000; */
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#magni-icon>img {
    height: 80%;
    width: 80%;
}

.navbar-icon-area {
    height: 6vh;
    width: 15%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#category-dropdown {
    height: 7vh;
    width: 100%;
    /* border: 1px solid #000; */
    z-index: 4;
    animation-name: topbottom;
    animation-duration: 3s;
    animation-timing-function: ease;
    background-color: white;

}

@keyframes topbottom {
    0% {
        transform: translateY(-100%);
    }
}


#inner-category-dropdown {
    height: 7vh;
    width: 80%;
    margin-left: 5%;
    /* border: 1px solid #000; */
    display: flex;
    z-index: 1;
}

#inner-category-dropdown>div {
    height: 100%;
    width: 10vw;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#model {
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    background-color: rgba(15, 13, 13, 0.6);
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 2;
}

#sign-screen {
    height: 100%;
    width: 30%;
    /* border: 1px solid #000; */
    right: 0;
    z-index: 1;
    position: absolute;
    animation-name: slideLeft;
    animation-duration: 3s;
    animation-timing-function: linear;
    background-color: aliceblue;

}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);
    }
}

#banner-within-sign {
    height: 40vh;
    width: 100%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='139' height='148' viewBox='0 0 139 148' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.1' fill-rule='evenodd' clip-rule='evenodd' d='M97.01 114.286c-.022 24.551-21.21 34.31-39.211 33.336-11.503.115-19.46-3.622-26.332-6.851-5.163-2.425-9.715-4.563-14.699-4.563-8.168 0-11.668 5.754-12.889 11.315H1.271v-50.85h2.608c3.158 24.492 18.413 37.194 38.868 45.289 21.589 8.561 34.287-.383 38.13-6.353 8.136-12.832 3.003-24.961-16.954-31.746l-35.54-11.074C11.805 87.751 0 78.91 0 64.526c0-17.624 15.96-31.224 38.731-31.224.879.007 1.757.038 2.633.09a25.216 25.216 0 0 1-.098-2.242C41.266 13.58 57.273 0 80.205 0c13.494 0 24.209 5.607 31.823 9.591 4.195 2.195 7.448 3.898 9.705 3.898 4.352 0 6.39-4.738 7.564-9.053h2.382v37.806h-2.383c-4.663-13.76-10.05-22.89-16.508-27.722-9.325-7.11-19.444-11.796-32.05-12.089-11.396-.103-26.263 5.956-26.263 19.655 0 13.898 16.49 18.588 32.48 22.839 1.609.474 3.217.942 4.819 1.408C116.093 53.412 138.87 60.041 139 80.71c0 24.702-21.239 34.508-39.646 33.622a50.842 50.842 0 0 1-2.344-.045zm-.086-2.436c14.112 1.61 22.715-4.886 25.688-9.637 8.238-12.794 3.006-24.879-17.025-31.774L69.704 59.427C55.028 54.991 44.01 47.542 41.71 35.83a53.66 53.66 0 0 0-2.496-.14c-11.394-.072-26.05 5.902-26.05 19.648 0 13.957 16.389 18.6 32.194 22.991 1.627.48 3.253.954 4.874 1.426 23.228 6.764 45.154 13.149 46.692 32.096z' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left bottom;
}

#banner-sign-align {
    height: 85%;
    width: 85%;
    /* border: 1px solid #000; */
}

#banner-sign-align>div {
    height: 40%;
    width: 100%;
    /* border: 1px solid #000; */
    margin-top: 5%;
}

#skip {
    margin-left: 80%;
    margin-top: 10%;
    text-decoration: underline;
    color: white;
}

#log-title {
    margin-top: 10%;
    font-size: 1.8em;
    font-weight: 500;
    color: white;
}

#log-sub-title {
    color: white;
}

#login-form-area {
    height: 55vh;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;

    /* border: 1px solid #000; */
}

#login-form-area>form {
    height: 40vh;
    width: 100%;
    /* border: 1px solid #000; */
}

#login-form-area>form>div {
    height: 7vh;
    width: 100%;
    margin-top: 2%;
    /* border-bottom: 1px solid black; */
}

#login-form-area>form>div>input {
    height: 100%;
    width: 100%;
    border: none;
    background-color: rgb(210, 210, 210);
    cursor: pointer;
    outline: none;
    color: Black;
}

#login-form-area>form>div>input::placeholder {
    color: white;
    font-size: 1.2em;
}

#submit-btn {
    height: 7vh;
    width: 100%;
    color: white;
    background-color: black;
    margin-top: 5%;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

#terms-after-sign {
    margin-top: 8vh;
    font-size: 1.2em;
}